{
  "presets": [["env"], "react"],
  "plugins": [
    ["react-intl",
      {
        "messagesDir": "./i18n/origin"
      }
    ],
    ["transform-class-properties"],
    ["transform-object-rest-spread"]
  ]
}
